package icons

import "github.com/iridiumgo/iridium/view/icon"

var Circle = icon.NewIcon(CircleComponent)

templ CircleComponent(i *icon.Icon) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width={ i.Width }
		height={ i.Height }
		viewBox={ i.ViewBox }
		fill={ i.Fill }
		stroke={ i.StrokeStr }
		stroke-width={ i.StrokeWidthStr }
		stroke-linecap={ i.StrokeLineCap }
		stroke-linejoin={ i.StrokeLineJoin }
		{ i.AttributesMap... }
	>
		<circle cx="12" cy="12" r="10"></circle>
	</svg>
}
