package icons

import "github.com/asosick/iridium-icons/icon"

var SignalZero = icon.NewIcon(SignalZeroComponent)

templ SignalZeroComponent(i *icon.Icon) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width={ i.Width }
		height={ i.Height }
		viewBox={ i.ViewBox }
		fill={ i.Fill }
		stroke={ i.Stroke }
		stroke-width={ i.StrokeWidth }
		stroke-linecap={ i.StrokeLineCap }
		stroke-linejoin={ i.StrokeLineJoin }
		{ i.Attributes... }
	>
		<path d="M2 20h.01"></path>
	</svg>
}
