package icons

import "github.com/iridiumgo/iridium-icons/icon"

var Tally1 = icon.NewIcon(Tally1Component)

templ Tally1Component(i *icon.Icon) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width={ i.Width }
		height={ i.Height }
		viewBox={ i.ViewBox }
		fill={ i.Fill }
		stroke={ i.Stroke }
		stroke-width={ i.StrokeWidth }
		stroke-linecap={ i.StrokeLineCap }
		stroke-linejoin={ i.StrokeLineJoin }
		{ i.Attributes... }
	>
		<path d="M4 4v16"></path>
	</svg>
}
