package icons

import "github.com/iridiumgo/iridium-icons/icon"

var X = icon.NewIcon(XComponent)

templ XComponent(i *icon.Icon) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width={ i.Width }
		height={ i.Height }
		viewBox={ i.ViewBox }
		fill={ i.Fill }
		stroke={ i.Stroke }
		stroke-width={ i.StrokeWidth }
		stroke-linecap={ i.StrokeLineCap }
		stroke-linejoin={ i.StrokeLineJoin }
		{ i.Attributes... }
	>
		<path d="M18 6 6 18"></path>
		<path d="m6 6 12 12"></path>
	</svg>
}
